/* Root styles for the entire application. */
:root {
    --primary: #28A696;
    --tertiary: #5869FC;
    --alert: #E84F4F;
    --button-text: #FFFFFF;
    --tag-1: #E0726E;
    --tag-2: #F78D8D;
    --tag-3: #FF9A6F;
    --tag-4: #FCB55F;
    --tag-5: #F2CD5C;
    --tag-6: #CBE364;
    --tag-7: #80C6BA;
    --tag-8: #88C9F2;
    --tag-9: #99AFF2;
    --tag-10: #C195DB;
    --tag-11: #F2A7C3;
    --tag-12: #F2A7C3;
    --tag-text: #212323;
}
.light-mode {
    --background1: #FFFFFF;
    --background2: #E9E9E9;
    --secondary: #1761B5;
    --text1: #212323;
    --text2: #666768;
    --text3: #A7A8A9;
}
.dark-mode {
    --background1: #2F3132;
    --background2: #3E4142;
    --secondary: #4F96E8;
    --text1: #FFFFFF;
    --text2: #A7A8A9;
    --text3: #717373;
}
